{% extends "base.html" %}

{% block main %}

<h2>{{warning}}</h2>
{% if games %}
{% load static %}
<img src="{% get_static_prefix %}images/shotglass.jpg" />

<br><br>
<a href="/accounts/profile/{{ user.id }}">See your profile.</a>
<br><br>
<a href="/logout/">Log out.</a>
<br><br><ul>{% for object in games %}
<li><a href="{{ object.get_absolute_url }}">{{ object }}</a></li>
{% endfor %}</ul>
{% else %}
<a href="/accounts/login/"> Log in</a> or 
<a href="/accounts/create/"> Create a new account</a>.
{% endif %}

<br><br>
Contact me:<br>
If you are having a problem logging in, creating an account or want me t include a drinking moment in one of our virtual drinking games, you can email me at buckley.kimc@gmail.com. 
{% endblock %}

{% block latest %}
<h2>Latest Games</h2>
<ul>{% for object in latestgames %}
<li><a href="{{ object.get_absolute_url }}">{{ object }}</a></li>
{% endfor %}</ul>
{% endblock %}

